main {
    max-width: 1140px;
    margin: auto;
}

main h1 {
    font-size: 35px;
    margin: 10px 0;
    text-align: center;
}

main h1 + div {
    width: 10%;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin: 5px auto;
}